.header {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .3s ease-in-out;
}

.scrolled {
  position: fixed;
  background: #f4f5f7;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: all .3s ease-in-out;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}