.sidebar {
    position: fixed;
    left: -500px;
    top: 0px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    z-index: 10;
}

.sidebar h6 {
    padding: 13px 30px;
}

.active {
    position: fixed;
    left: -0px;
    top: 0px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;
    z-index: 10;
}

.active h6 {
    padding: 13px 30px;
}

.hide {
    position: fixed;
    width: 100%;
    max-width: 0;
    height: 100%;
    top: 0;
    left: 0;
    /*background: #000;*/
    /*opacity: 0;*/
    /*z-index: -1;*/
    transition: all .2s ease-in-out;
}

.focus {
    position: fixed;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    top: 0;
    left: 0;
    /*background: #000;*/
    /*opacity: .1;*/
    /*z-index: -1;*/
    transition: all .2s ease-in-out;
}